body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    width: 700px;
    height: 77px;
    margin: 0 auto;
    background-image: url(logo.png);
    background-repeat: no-repeat;
}

h1 {
    color: #993333;
    letter-spacing: -1.5px;
    font-size: 18pt;
    font-weight: normal;
    margin: 20px 0;
}

#map {
    width: 700px;
    height: 400px;
    margin: 0 auto !important;
    border: 1px solid #ccc;
}

#code {
    width: 700px;
    height: 100px;
    margin: 20px auto;
    overflow: hidden;
    font-size: 9pt;
    border: 1px solid #ccc;
    -webkit-transition: height 1s, background-color 1s;
    -moz-transition: height 1s, background-color 1s;
    -o-transition: height 1s, background-color 1s;
    transition: height 1s, background-color 1s;
}

#code.large {
    overflow: auto;
    height: 300px;
    background-color: #eeeeee;
}

#description {
    width: 700px;
    margin: 0 auto;
}

button.color {
    cursor: pointer;
    border: 1px solid #666;
    width: 50px;
}